<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p0972servicebindserver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MainService">
            <intent-filter>
                <action android:name="ua.com.wadyan.p0972servicebindserver.MainService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>
